@font-face {
  font-family: opensans;
  src: url('../fonts/OpenSans-Regular.ttf');
}

#header {
  background: #172554;
  border-bottom: 0px !important;
  height: 70px;
}
  
body { 
  font-family: opensans;
  background-color: #ffffff;
}
  
.menu {
  background-color: #000000;
  min-height: calc(100vh - 70px);
}